<div class="container">
    <div class="row header col-md-12 color-dif">
      <div class="col-md-4 img-icon">
          <img src="/assets/pokecoin1600.png" alt="Icon">
      </div>
       <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light"><s></s>                                      
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarText">
                     <ul class="navbar-nav mr-auto">
                       <li class="nav-item " >
                         <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']" >Home </a>
                       </li>
                       <li class="nav-item " >
                         <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">Registro</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" [routerLink]="['/menu3']" [routerLinkActive]="['active']" >Menu 3</a>
                       </li>
                        <li class="nav-item">
                         <a class="nav-link" >Menu 4</a>
                       </li>
                     </ul>                                        
                   </div>
             </nav>
         </div>
    </div>
<router-outlet></router-outlet>
<div class="row justify-content-md-center footer col-md-12 color-dif">
    <span>(c) footer</span>
</div>
</div>


