.color-dif{
    background-color: blanchedalmond;
}
.color-dif2{
    background-color: aliceblue;
}
.img-icon img{
    width: 50px;
    height: 50px;
}
.body{
    margin-top: 5px;   
}
.footer{   
    height: 70px;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
}
.footer span{    
    margin: 10px;
}
.container-p{
    margin: 5px;
    width: 100%;
    height: 200px; 
}
.img-container{
    height: 100px;
   margin: 5px;
}
.form-div{
    margin: 10px;
    padding: 10px;
}
.producto-descrip{
    margin-top: 10px;
}
.message-success{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.message-success  .form-control{
    padding-top: 50px;
    padding-bottom: 50px;
}
.steps {
    
}
.steps li{   
    margin: 15px;
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 3px darkturquoise;
}           
.steps .step-active{  
    color: white;
    background-color: darkturquoise !important;
}
.check-success{
    color: green;
    font-size: 25px;
    font-weight: bold;
}
.line-steps{    
    box-shadow: 0px 0px 0px 1px  darkturquoise;     
    background-color: darkturquoise;
    height: 2px;
    position: absolute;    
    margin-left: -34px;    
    width: 34px;   
}
.btn-margin{
    margin: 10px;
}
.complete-button{
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
}
.animation-component{
    animation: .5s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
        filter: opacity(0);     
      transform: translateX(-10%);
    }
    100% {
        filter: opacity(1);
      transform: translateX(0);
    }
  }