<div class="row col-md-12 body color-dif">
        <div class="row col-md-12 justify-content-md-center ">
            <div class="col-md-12 container-p color-dif2">
                
            </div>
        </div>
        <div class="row col-md-12 justify-content-md-center ">
            <div class="col-md-3 img-container color-dif2">fghf</div>
            <div class="col-md-3 img-container color-dif2">fghf</div>
            <div class="col-md-3 img-container color-dif2">fghf</div>
        </div>
    </div> 