
 <div class="row col-md-12 justify-content-md-center body color-dif" *ngIf="step == 1">
    <div class="col-md-8 form-div">                  
         <form class="form-control animation-component" #productForm="ngForm">
           <div class="col-md-12"><span><strong>Formulario</strong></span></div>
            <hr/>
             <div class="form-group">
                 <label for="producto">Producto</label>
                 <div><input [(ngModel)]="product.productName" required="true" name="productName" type="text" id="producto"/></div> 
             </div>
             <div class="form-group">
                 <label for="precio">Precio</label>
                 <div><input [(ngModel)]="product.price" required name="price" type="number" id="precio"/></div>
             </div>
             <div class="form-group">
                 <label for="descripcion">Descripci&oacute;n</label>
                 <div><input [(ngModel)]="product.description" name="description" type="text" id="descripcion"></div>
             </div>             
             <div class="row col-md-12 justify-content-md-center">
                 <button class="btn btn-success" [disabled]="!productForm.form.valid" (click)="nextStep()">Siguiente</button>
             </div> 
         </form>
     </div>
 </div> 
 <!-- FORMULARIO INIT -->

  <!-- CONFIRMACION FORM -->
  <div class="row col-md-12 justify-content-md-center body color-dif" *ngIf="step == 2" >
    <div class="col-md-8 form-div">                  
         <div class="form-control animation-component">
            <div class="col-md-12"><span><strong>Confirmaci&oacute;n</strong></span></div>
            <hr/>
             <div class="row col-md-12 producto-descrip">
                 <div class="col-md-4" for=""><strong>Producto: </strong></div><div class="col-md-7">&nbsp;{{product.productName}}</div>
             </div>
             <div class="row col-md-12 producto-descrip">
                 <div class="col-md-4" for=""><strong>Precio: </strong></div><div class="col-md-7">&nbsp; {{product.price}}</div>
             </div>
             <div class="row col-md-12 producto-descrip">
                 <div class="col-md-4" for=""><strong>Descripci&oacute;n: </strong></div><div class="col-md-7">&nbsp; {{product.description}}</div>
             </div>
             <div class="row col-md-12 justify-content-md-center">
                 <button class="btn btn-success btn-margin" (click)="backStep()">Atras</button>
                 <button class="btn btn-success btn-margin" (click)="nextStep()">Siguiente</button>
            </div>
         </div>
     </div>
 </div>
 <!-- CONFIRMACION FORM -->

 <!-- SUCCESS -->
           
 <div class="row col-md-12 body color-dif  justify-content-md-center" *ngIf="step == 3">
    <div class="col-md-8 message-success">                  
         <div class="form-control animation-component">
            <div>El producto {{product.productName}} agregado correctamente <br><span class="check-success">&#x2714;</span></div>            
            <div class="row col-md-12 justify-content-md-center complete-button">
                    <button class="btn btn-success" (click)="resetForm()">Aceptar</button>
               </div>
         </div>
     </div>
 </div>
 <script>  
     function animForm(){
         console.log("destro de la funcion");
        $(".form-control").addClass("form-control-anim");
     }
 </script>